/* Books.css */

body {
    background-color: rgb(50, 50, 83);
    margin: 30px; /* Reset default body margin */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Make body take up full viewport height */
}

h2 {
    color: white;
    font-size: 40pt;
    text-align: center; /* Center the text horizontally */
    margin-bottom: 20px; /* Add margin to separate from carousel */
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent; /* Set carousel background to transparent */
    width: 600px;
    height: 400px;
    margin: 40px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add drop shadow to carousel */
}



form {
    background-color: rgba(76, 73, 73, 0.3); /* Example background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add drop shadow to form */
    color: white; /* Set text color to whit
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally within form */
}

/* Add more specific selectors if needed */
form input,
form textarea {
    color: white; /* Set text color to white for input and textarea */
    width: 100%; /* Set input width to fill the form width */
    margin-bottom: 10px; /* Add some space between input fields */
    background-color: rgba(193, 181, 181, 0.3); /* Example input background color */
    border: none; /* Remove input border */
    padding: 10px; /* Add padding to input */
}

form button[type="submit"] {
    width: fit-content; /* Set button width to fit its content */
    background-color: rgb(96, 56, 56); /* Example button background color */
    color: white; /* Set button text color to white */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add more styles as needed */

